body {
  background: white;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  width: 500px;
  height: 400px;
  margin: 100px auto 0;

  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1em;
}

.item {
  border: 1px solid #999;
  background: white;
}

.item:first-child {
  background: yellow; 
  grid-row: 2/3;
  grid-column: 1/4;
}